<div class="input-group exercise-form">

  <%= f.input :name, placeholder:"Exercise Name", required: true, autofocus: true, input_html: { class: "input is-rounded"}, wrapper: false, label_html: { class: "label" } %>





</div>
