

<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-6">

<table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
  <thead>
    <tr>
      <th style="text-align: center">Workout</th>
      <th style="text-align: center">Date</th>

    </tr>
  </thead>
  <tbody>
    <%=user_reps(@workouts, current_user)%>

    
    </tr>
  </tbody>
</table>
</div>
</div>
</div>
