<% content_for :header do %>
<section class="hero is-dark is-bold">
  <div class="hero-body">
    <div class="container">
      <h3 class="title">
        EDIT WORKOUT
      </h3>
    </div>
  </div>
</section>
<% end %>

        <%= render 'form' %>
