<% content_for :header do %>
<section class="hero is-dark is-bold">
  <div class="hero-body">
    <div class="container">
      <h3 class="title">
        WORKOUT LOGS
      </h3>
      <h4 class="subtitle">
        Total Workouts Completed by: <%=current_user.username%>
        </h4>
    </div>
  </div>
</section>
<% end %>


<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-6">



        <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
          <thead>
            <tr>
              <th style="text-align: center">Workout</th>
              <th style="text-align: center">Date</th>

            </tr>
          </thead>
          <tbody>
            <% @workouts.each do |workout| %>
            <tr>
              <td style="text-align: center"><%= link_to workout.name, workout, class:"special-links" %></td>
              <td style="text-align: center"><%= workout.date.strftime('%A, %B, %d')%></td>


              <% end %>

            </tr>
          </tbody>
        </table>

      </div>
    </div>
  </div>
</div>
