<p id="notice"><%= notice %></p>


<section class="hero is-dark is-bold is-fullheight">
  <div class="hero-body">
    <div class="columns is-vcentered">
  <div class="column is-4">
      <h3 class="title">
        X-ercise
      </h3>
      <h4 class="subtitle">
        Welcome to your personal workout tracker.
        </h4></div>
  <div class="column is-8"><%= image_tag('gym.jpg', class: 'img-responsive') %></div>
  </div>

    </div>

</section>

