<% content_for :header do %>
<section class="hero is-dark is-bold">
  <div class="hero-body">
    <div class="container">
      <h3 class="title">
        <%= @exercise.name %>
      </h3>
      <h4 class="subtitle">

        </h4>
    </div>
  </div>
</section>
<% end %>

<br>
<h4>Workouts that include this exercise.</h4>
   <%=@workouts.name%>


<%= link_to "Delete", exercise_path(@exercise),
            method: :delete,
            data: {confirm: "Are you sure you want to delete?"},
            class:"button is-dark is-rounded" %>
